{% extends "aggiehub/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
Hello {{user.name}}
<div class="row">
    <div class="column">
        <ul id="posts">
            {% for post in posts %}
                <li>
                    {{ post.text }} 
                    <br> 
                    <b>-{{post.user}}</b>
                    {% if user == post.user %}
                        <a id="{{ post.id}}" class="removeOrClaim" href="http://www.google.com">remove</a> </li>
                    {% else %}
                        <a id="{{ post.id}}" class="removeOrClaim" href="http://www.google.com">claim</a> </li>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <h> Claims </h>
        <ul id="claims">
            {% for claim in claims %}
                <li>Claim for "{{ claim.post }}"</li>
            {% endfor %}
        </ul>
    </div>
</div>
<form method="POST" class="login-form">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="save btn btn-default">Post</button>
</form>
{% endblock %}