{% extends "aggiehub/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
Hello {{user.name}}
<br>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="save btn btn-default">Post</button>
</form>
<div class="row">
    <div class="column posts">
        <ul id="posts">
            {% for post in posts %}
                <li>
                    {{ post.text }} 
                    <br> 
                    <b>-{{post.user}}</b>
                    {% if user == post.user %}
                        <a id="{{ post.id}}" class="removeOrClaim" href="http://www.google.com">remove</a> </li>
                    {% else %}
                        <a id="{{ post.id}}" class="removeOrClaim" href="http://www.google.com">claim</a> </li>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="column notifications">
        <h> Notifications </h>
        <ul id="notifications">
            {% for notification in notifications %}
                {% if notification.type == "CLAIM_TOXIC" or notification.type == "CLAIM_NONTOXIC" %}
                    <li>You have claimed the post "{{ notification.text }}" as {% if notification.type == "CLAIM_TOXIC" %} toxic {% else %} non-toxic {%endif%} and it is under review.</li>
                {% else %}
                    <li>
                        Your post "{{ notification.text }}" has been flagged as toxic.
                        Press this to <a id="{{ notification.notif_id}}" class="removeOrClaim" href="http://www.google.com">claim</a> non-toxicity.
                    </li> 
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="column notifications">
        <h> Survey </h>
        <ul id="surveys">
            {% for survey in surveys %}
                <li>Survey for "{{ survey.post }}"</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}