<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'aggiehub/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'aggiehub/materialize.css' %}"/>
</head>

<body>
<div class="navbar ">
    <ul class="display-flex">
        <li class="display-inline">
            <a href="{% url 'home' %}" class="navbar-brand"> Home </a>
        <li>
        {% if user != None %}
            <li class="display-inline right-align left-margin-auto">
                <a href="{% url 'logout' %}" class="navbar-brand"> Logout </a>
            </li>
        {% endif %}
    <ul>
</div>

<div class="body-content">
    <!-- <input type="text" required="" name="username" maxlength="150" id="id_username" autofocus=""> -->
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>© 2019 </p>
    </footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</html>
<script>
    $(function() {
        $("#id_email").addClass("width-auto blue lighten-5")
        $(".removeOrClaim").click(function () {
            debugger;
            id = this.id;
            action = this.text
            if(action == "report" || action == "claim") {
                ajax_url = "/ajax/claim/"
            } else {
                ajax_url = "/ajax/delete/"
            }
            debugger;
            $.ajax({
                url: ajax_url,
                data: {
                    'id': id
                },
                dataType: 'json',
                success: function (data) {
                    debugger;
                    if (data.success) {
                        if(action == "report" || action == "claim"){
                            if(data.exists) {
                                alert("Already Claimed!!!");
                            } else {
                                claimType = "toxic"
                                if(data.claimType == "CLAIM_NONTOXIC") {
                                    claimType = "non-toxic"
                                }
                                $("#notifications").after('' +
                                    '<div class="row">' +
                                    '   <div class="col s12 m12 card card-content black-text">' +
                                    '       <p> You have claimed the post "' + data.post + '" as ' + claimType + ' and it is under review.</p>' +
                                    '   </div>' +
                                    '</div>');
                            }
                        } else {
                            $("#"+id).parent().parent().parent().parent().remove()
                        }
                    }
                }
            });
            return false;
        });
    });
</script>