.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 24px 8px 24px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
}

.column.posts {
    padding: 24px;
    flex: 50%;
}

.column.notifications {
    padding: 24px;
    flex: 25%;
}

.column.notifications .row {
    margin-bottom: 0px !important;
}

.column.notifications .card {
    margin-bottom: 0.5rem !important;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.display-inline {
    display: inline
}

.display-flex {
    display: flex
}  